*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$main-color: hsl(226, 58%, 53%);
$secondary-color: hsl(267, 48%, 58%);
$bg-color: hsl(0, 0%, 16%);

$desktop-size: 1000px;

body {
	background-color: $bg-color;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

.header {
	font-size: 2rem;
	background-color: darken($bg-color, 6);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
	svg {
		width: 30px;
		color: hsl(226, 70%, 53%);
		margin-right: 1rem;
		rotate: -45deg;
	}
	span {
		&:first-of-type {
			color: $main-color;
		}
		&:last-of-type {
			color: $secondary-color;
		}
	}

	@media (min-width: $desktop-size) {
		font-size: 4rem;
		svg {
			width: 60px;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	max-width: 800px;
	margin-inline: auto;
	margin-bottom: 20rem;
}

.input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	@media (min-width: $desktop-size) {
		flex-direction: row;
		.input-add {
			flex-grow: 1;
		}
	}
}

.input-add {
	border: none;
	outline: none;
	padding: 1rem;
	background-color: lighten($bg-color, 10);
	color: white;
	border-radius: 0.5em;
	font-size: 1rem;
}

.btn {
	border: none;
	outline: none;
	background-color: $main-color;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	font-weight: bold;
	padding: 1rem;
	border-radius: 0.5em;
	font-size: 1rem;
	cursor: pointer;
	svg {
		width: 20px;
	}

	&.btn--circle {
		border-radius: 50%;
		padding: 0.7rem;
		border: 0.2em solid $main-color;
		background: transparent;
	}
}

.filter-container {
	margin-top: 2rem;
	display: flex;
	gap: 3rem;
	font-size: 1.2rem;
	justify-content: center;
	background-color: lighten($bg-color, 20);
	border-radius: 0.5em;
	padding: 1rem;
	list-style: none;
	li {
		color: $bg-color;
		cursor: pointer;
		text-transform: capitalize;
		&.active {
			color: white;
			font-weight: bold;
		}
	}
}

.statuses-container {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.status-box {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 2rem;
	.prop {
		&.main-color {
			color: $main-color;
		}
		&.secondary-color {
			color: $secondary-color;
		}
	}

	.value {
		background-color: lighten($bg-color, 5);
		color: white;
		border-radius: 100vmax;
		padding-inline: 0.8em;
		padding-block: 0.1em;
	}
}

.empty-case {
	color: lighten($bg-color, 50);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-size: 1rem;
	gap: 0.3rem;
	svg {
		width: 80px;
		margin-bottom: 1rem;
		color: lighten($bg-color, 20);
	}

	div:first-of-type {
		font-weight: bold;
	}
}

.todo-list {
	list-style: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.8em;
	width: 100%;
}

.todo-item {
	height: 0;
	opacity: 0;
	animation: todoItem 1s forwards;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: 1rem;
	align-items: center;
	background-color: lighten($bg-color, 10);
	padding: 0.5em 1em;
	border-radius: 0.5em;

	.btn--circle.done {
		background: linear-gradient(
			120deg,
			rgba(140, 61, 187, 1) 0%,
			rgba(51, 120, 207, 1) 100%
		);
		animation: bg-move 1s infinite;
	}

	input.text {
		border: none;
		outline: none;
		font-size: 1rem;
		color: white;
		background-color: lighten($bg-color, 40);
		padding: 0.5em 1em;
		border-radius: 100vmax;
		&:disabled {
			background-color: inherit;
		}
	}

	.trash {
		margin-left: auto;
		width: 1.5rem;
		color: lighten($bg-color, 50);
		cursor: pointer;
	}
}

@keyframes bg-move {
	0% {
		rotate: -45deg;
	}
	50% {
		rotate: 45deg;
	}
	100% {
		rotate: -45deg;
	}
}

@keyframes todoItem {
	0% {
		height: 0;
		opacity: 0;
	}
	100% {
		height: 100%;
		opacity: 1;
	}
}

@keyframes todoItemOut {
	0% {
		height: 100%;
		opacity: 1;
	}

	100% {
		height: 0%;
		opacity: 0;
	}
}
